:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}

.page-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.frame {
    background-color: #c80d0d;
    padding: 10px 10px 8px 10px;
    border: 3px outset #8c0909;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 620px;
}

.game-title {
    padding: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.game-buttons {
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.game-screen {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    max-width: max-content;
    border: 3px inset darkgray;
}

.block {
    background-color: lightgray;
    height: 5px;
    width: 5px;
}

.button-group-left {
    color: white;
    font-size: large;
    font-weight: bold;
}

button {
    background-color: #f8ca05;
    color: black;
    border-radius: 8px;
    border: 0px none #f8ca05;
    padding: 8px;
    font-size: medium;
}

/* highlights */
.selected-button { background-color: #ffa133; }
.cantina-red { background-color: #c80d0d; }
.cantina-yellow { background-color: #f8ca05; }
.cantina-blue { background-color: #52b2cb; }
.cantina-orange { background-color: #ffa133; }
.cantina-green { background-color: #abdb9a; }
.black { background-color: black; }
